<ion-view view-title="PACA Controller">
  <ion-content class="padding">
    <!-- MODO ACTUAL DE PACA -->
    <div class="list card">
      <div class="item item-divider">Modo PACA 0.1.0</div>
      <div class="item item-body">
        <div>
          <!-- colocamos el modo actual leido desde la RPi -->
          Modo de PACA
        </div>
      </div>
    </div>

    <!-- ESTADO ACTUAL DE LA COMUNICACION -->
    <div class="list card">
      <div class="item item-divider">Estado de Comunicación</div>
      <div class="item item-body">
        <div>
          <!-- Mostramos posibles errores de comunicacion -->
          Comunicacion
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
