<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-positive tabs-icon-top">

  <!-- Paca Controller Tab -->
  <ion-tab title="PACA Controller" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Logs" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/logs">
    <ion-nav-view name="tab-logs"></ion-nav-view>
  </ion-tab>

  <!-- Help Tab -->
  <ion-tab title="Help" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/help">
    <ion-nav-view name="tab-help"></ion-nav-view>
  </ion-tab>


</ion-tabs>
